header {
    border: 3px solid aqua;
    height: 200px;
    width: 80%;
    font-size: 40px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px auto;
     
}

.underScore {
    border: 3px solid aqua;
    height: 120px;
    width: 80%;
    font-size: 80px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px auto;

}

.section {
    border: 3px solid aqua;
    height: 150px;
    width: 80%;
    font-size: 70px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px auto;
    color: greenyellow;
    padding-top: 0%;

}

.dummy {
    border: 3px solid aqua;
    height: 150px;
    width: 80%;
    font-size: 70px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px auto;
    color: red;
    padding-top: 0%;

}
